---
import AnimationTool from "./AnimationTool.svelte";
import SocialMedia from "../portfolio/SocialMedia.astro"
---

<section id="home" class="sm:h-[calc(100vh-70px)] h-auto  pt-32 sm:pt-20 scroll-mt-20 flex flex-col justify-center items-center gap-y-10 relative">
  <p class="text-xl font-mono">Hola, soy</p>
  <div class="flex justify-center flex-col items-center">
    <h1 class="text-7xl font-semibold tracking-wider font-kodchasan ">Yelsiño</h1>
  <h2 class=" text-xl pt-3 font-mono text-gray-500">Full Stack Developer</h2>
  </div>

  <div class="flex justify-center gap-x-5">
    <button class="p-3 px-6 border border-color_purple3 transition ease-in-out duration-500 bg-black  text-white font-bold rounded-md hover:shadow-lg">
      <a download="cv yelsiño" href="/assets/cv-yelsiño.pdf">
        Descargar CV
      </a>
    </button>
    <button class="p-3 px-6 border  transition ease-in-out duration-500 font-bold rounded-md hover:shadow-lg flex gap-x-2">
      <a
        target="_blank"
        href="https://wa.me/939616350?text=Me%20interesa%20tu%20perfil%20de%20desarrollador"
      >
        Hablemos 
      </a>
      <span><img src="/assets/send.svg" alt=""></span>
    </button>
  </div>

  <AnimationTool client:visible />
  <SocialMedia />

</section>

<style>
	/* Aplicar filtro de escala de grises con opacidad */
	.grayscale-opaque {
    filter: grayscale(100%) opacity(0.2); 
  transition: filter 0.3s ease-in-out, opacity 0.5s ease-in-out; 
	}

	/* Eliminar el filtro al hacer hover sobre la imagen */
	.grayscale-opaque:hover {
		filter: none;
	}

	.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
}
</style>