---

import NavBar from '@components/portfolio/NavBar.svelte';
import AboutMe from '@components/portfolio/AboutMe.astro';
import Experiences from '@components/portfolio/Experiences.astro';
import Home from '@components/portfolio/Home.astro';
import Projects from '@components/portfolio/Projects.astro';
import ScrollDown from '@components/portfolio/ScrollDown.astro';
import Tools from '@components/portfolio/Tools.astro';
import Layout from '@layouts/Layout.astro';
import { Tooltips } from 'astro-tooltips';
---

<Layout 
  icono="/maletin.png"
  title="Yelsino: Portafolio" 
  description='Desarrollador de software web en Perú. Ofrezco soluciones tecnológicas innovadoras para empresas y proyectos. ¿Necesitas mejorar tu presencia en línea o impulsar tu empresa a través de la tecnología? Contáctame para colaborar en el desarrollo de sitios web personalizados o aplicaciones web.' >
  <Tooltips 
    interactive={false}
    delay={[0.5, 10]}
    placement="top" theme="tomato" 
    allowHTML={true} 
  />
  <NavBar client:visible />
  <div class="px-10 sm:px-20 flex flex-col gap-y-10">
    <Home />
    <AboutMe />
		<Experiences />
    <Tools />
    <Projects />
  </div>
  <ScrollDown />
  
</Layout>


<style is:inline>
.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  font-weight: 700;
  color: yellow;
}
</style>