---
interface Post {
  title: string;
  author: string;
  topic: string;
  description: string;
  date: string;
  image: string;
}

interface Props {
  posts: Post[]
}

const { posts } = Astro.props as Props
---

<div class="flex flex-col gap-y-4">
  {
    posts.map((post) => (
      <a href={`/blog/${post.topic}`} class="cursor-pointer relative">
        <article class="cursor-default bg-gray-50 py-5 px-3 hover:shadow-md ease-in-out duration-300">
          <div class=" ">
            <div class="">
              <h3 class="font-bold text-2xl">{post.title}</h3>
              <p class="font-mono text-lg text-gray-700">
                {post.description}
              </p>
            </div>
          </div>
        </article>
        <span class="top-0 absolute right-0 text-color_pink1 translate-x-3 -translate-y-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={2}
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linecap="round"
              d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
            />
          </svg>
        </span>
      </a>
    ))
  }
</div>
