<footer class="w-full border-t max-w-5xl flex py-5 px-10 md:px-20 flex-col">
  <div class="flex flex-col gap-5 sm:flex-row justify-between py-5">
    <section class="flex flex-col gap-y-3">
      <p class="">
        Hola soy Yelsi침o, <br /> un apasionado de desarrollo web <br /> e
        Inteligencia artificial
      </p>
      <div>
        <a
          href="https://wa.me/939616350?text=Me%20interesa%20tu%20perfil%20de%20desarrollador"
          target="_blank"
          aria-label="cont치ctame"
        >
          <button
            class="bg-black text-white p-2 flex gap-x-3 rounded-md hover:shadow-lg ease-in-out duration-300"
            >Cont치ctame! <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-whatsapp"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path></svg
            ></button
          >
        </a>
      </div>
    </section>
    <section>

      <ul class="flex gap-x-3 flex-col">
        <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
          <a
            target="_blank"
            aria-label="visita mi instagram"
            href="https://www.instagram.com/yelsino321/"
            class="flex gap-x-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
              ></path><path d="M16.5 7.5l0 .01"></path></svg
            ><span class="text-gray-600">Instagram</span></a
          >
        </li>

        <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
          <a
            href="https://www.facebook.com/yelsino"
            target="_blank"
            aria-label="visitame en facebook"
            class="flex gap-x-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-facebook"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              ></path></svg
            ><span class="text-gray-600">Facebook</span></a
          >
        </li>

        <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
          <a
            href="https://www.tiktok.com/@yelsino"
            target="_blank"
            aria-label="visita mi ticktock"
            class="flex gap-x-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-tiktok "
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
              ></path></svg
            ><span class="text-gray-600">Tick tock</span></a
          >
        </li>
      </ul>
    </section>
  </div>
  <div class="flex justify-between py-5 border-t">
    <p class="flex gap-x-2 font-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-blogger text-color_pink1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 21h8a5 5 0 0 0 5 -5v-3a3 3 0 0 0 -3 -3h-1v-2a5 5 0 0 0 -5 -5h-4a5 5 0 0 0 -5 5v8a5 5 0 0 0 5 5z"
        ></path><path
          d="M7 7m0 1.5a1.5 1.5 0 0 1 1.5 -1.5h3a1.5 1.5 0 0 1 1.5 1.5v0a1.5 1.5 0 0 1 -1.5 1.5h-3a1.5 1.5 0 0 1 -1.5 -1.5z"
        ></path><path
          d="M7 14m0 1.5a1.5 1.5 0 0 1 1.5 -1.5h7a1.5 1.5 0 0 1 1.5 1.5v0a1.5 1.5 0 0 1 -1.5 1.5h-7a1.5 1.5 0 0 1 -1.5 -1.5z"
        ></path></svg
      >
      <span>Yelsi침o, {new Date().getFullYear()}.</span>
    </p>
    <!-- <ul class="flex gap-x-3">
      <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
        <a
          target="_blank"
          aria-label="visita mi instagram"
          href="https://www.instagram.com/yelsino321/"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
            ></path><path d="M16.5 7.5l0 .01"></path></svg
          ></a>
      </li>

      <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
        <a
          href="https://www.facebook.com/yelsino"
          target="_blank"
          aria-label="visita mi facebook"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path></svg
          ></a>
      </li>

      <li class="hover:text-cyan-300 ease-in-out duration-300 p-1">
        <a
          href="https://www.tiktok.com/@yelsino"
          target="_blank"
          aria-label="visita mi ticktock"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-tiktok"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
            ></path></svg
          ></a
        >
      </li>
    </ul> -->

    <a
      class="flex bg-pink-100 cursor-pointer text-color_pink1"
      href="/"
      aria-label="visita mi portafolio"
      >Sobre m칤 游뱂
    </a>
  </div>
</footer>
