<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/maletin.png" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<meta name="description" content="Desarrollador de software web en Perú. Ofrezco soluciones tecnológicas innovadoras para empresas y proyectos. ¿Necesitas mejorar tu presencia en línea o impulsar tu empresa a través de la tecnología? Contáctame para colaborar en el desarrollo de sitios web personalizados o aplicaciones web.">
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Kodchasan:wght@300;400&family=Poppins:wght@600;700;900&display=swap" rel="stylesheet">
		<title>Yelsino: Portafolio</title>
	</head>
	<body>
		<main class="selection:bg-fuchsia-200 selection:text-black max-w-5xl mx-auto relative flex flex-col  ">
			<slot />
		</main>
	</body>
</html>