---
import Footer from "@components/blog/Footer.astro";
import NavBar from "@components/blog/NavBar.astro";
import Layout from "./Layout.astro";
---

<Layout>
  <NavBar />
  <div class="px-10 md:px-20 flex flex-col gap-y-10 mt-24">
    <slot />
  </div>
  <Footer />
</Layout>
